div {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 30px;
  background-color: pink;
}

.lightblue {
  background-color: lightblue;
}

.orange {
  background-color: orange;
}

#green {
  background-color: green;
}

#green:hover {
  background-color: gray;
}

#yellow {
  background-color: yellow;
}

#yellow:hover {
  background-color: gray;
}

div:hover {
  background-color: gray;
}

div:active {
  background-color: purple;
}

input:focus {
  background-color: blue;
}
