* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: pink;
  margin: 10px;
  position: relative;
  height: 200vh;
}

.item {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid black;
}

.item:nth-child(2) {
  position: fixed;
}
