* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

p,
span {
  width: 100px;
  height: 100px;
}

p {
  background-color: coral;
  /* display: inline-block; */
}

p:nth-child(3) {
  margin: 5px 10px 20px 30px;
  margin-right: 50px;
  padding: 20px;
  border: 5px solid blue;
  border-top-width: 15px;
  /* box-sizing: border-box; */
}

span {
  background-color: teal;
  display: block;
}

div {
  font-size: 1.5rem;
  margin-top: 20px;
  background-color: lightblue;
  width: 200px;
  height: 200px;
}

div span {
  font-size: 1.2em;
  height: 80%;
  width: 100%;
}
